SUBASTAS_BOE_API_KEY=<your_api_key_here>
SUBASTAS_BOE_TELEGRAM_TOKEN=<your_token_here>
SUBASTAS_BOE_TELEGRAM_CHAT=<your_chat_id_here>

MENORCA_PROPERTIES_API_KEY=<your_api_key_here>
MENORCA_PROPERTIES_TELEGRAM_TOKEN=<your_token_here>
MENORCA_PROPERTIES_TELEGRAM_CHAT=<your_chat_id_here>
